<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar paciente</title>
</head>
<body>
    <h4>Editar los datos de un paciente:</h4><br>
    <form action="/confirmapaciente" method="post" enctype="multipart/form-data">
        <label for="id">Id paciente: </label>
        <input type="text" value="{{paci[0]}}" readonly name="id"><br>
        <label for="nom">Nombre: </label>
        <input type="text" value="{{paci[1]}}" required name="nom"><br>
        <label for="cel">Celular: </label>
        <input type="text" value="{{paci[2]}}" name="cel"><br>
        <label for="foto">Foto: </label>
        <input type="file" name="foto"><br><br>
        <button>Guardar</button> <br>
        <h3>{{msg}}</h3>
    </form>
</body>
</html>