<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones del sistema</title>
</head>
<body>
    <h3>Haga click sobre la opción que desee:</h3><br><br>
    <a href="/pacientes">Gestión de pacientes</a><br>
    <a href="/especialistas">Gestión de especialistas</a><br>
    <a href="/citas">Gestión de citas</a><br>
    <a href="/usuarios">Gestión de usuarios</a><br><br><br>
    <h3>{{msg}}</h3>
</body>
</html>