<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de pacientes</title>
</head>
<body>
    <h3>Gestión de pacientes</h3><br>
    <a href="/nuevopaciente">Agregar un paciente nuevo</a><br>
    <a href="/opciones">Regresar</a><br>
    <table border="">
        <thead>
            <td>Id</td>
            <td>Nombre</td>
            <td>Celular</td>
            <td>Foto</td>
            <td>Operaciones</td>
        </thead>
        <tbody>
            {% for p in paci %}
            <tr>
                <td>{{p[0]}}</td>
                <td>{{p[1]}}</td>
                <td>{{p[2]}}</td>
                <td>
                    <img width="100" src="uploads/{{ p[3] }}" alt="">
                </td>
                <td>
                    <a href="/editapaciente/{{p[0]}}">Editar</a>
                    <a onclick="return confirm('¿Seguro elimina este paciente?')" href="/borrapaciente/{{p[0]}}">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>